/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	background: #fbfbfb;
	}
	
#header {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	width: 100%; 
	color: #fff;
	padding: 5px 0 0 0;
	background: url(../images/header.jpg) top left repeat-x;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #13a89e;
	}

#header ul {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	}
	
#header li {
	display: inline; 
	float: left;
	}
	
#header li a {
	color: #fff;
	margin: 0 15px 0 0;
	font-size: 130%;
	text-decoration: none;
	}
	
		
#header li a.third:hover {
	color: #8dc63f;
	}

#header li a.second:hover {
	color: #25aae1;
	}

#header li a.first:hover {
	color: #13a89e;
	}
	
.main {
	margin-top: 30px;
	}


#footer {
	background: #efedea;
	border-top: 1px solid #c0c0c0;
	padding: 20px 0;
	margin-top: 20px;
	}
	
#footer .container {
	background: url(../images/fsu.png) top right no-repeat;
	}
	
	
#download, #download2 {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding: 4px 12px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  width: 95%;
		text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: 'Oswald', sans-serif;
		font-weight: 400;
	 }
	  
#download:hover, #download2:hover {
		color: #222;
		background: #efefef; /* Old browsers */
		background: #efefef -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #efefef -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #efefef -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #efefef -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #efefef -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #efefef linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }
	  
#download a, #download2 a {
	font-size: 150%;
	text-decoration: none;
	line-height: 12px;
	color: #13a89e;
		display: block;
		width: 100%;
	}
	
#download a.pdf {
	background: url(../images/pdf.png) top right no-repeat;
		height: 55px;
		}
#download a.file, #download2 a.file {
	background: url(../images/file.png) top right no-repeat;
		height: 55px;
		}

#download a em, #download2 a em {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  color: #000;
	  }	  
	  
.about { display: none; }

#spacer {
	height: 140px;
	}

span.info {
font-size: 9pt;
height: 2em;
}
.ckb { display: inline; }
#timeout { display: inline; }
#default-graph-uri, #query { width: 95%; }

.samples li { margin: 0; padding: 0; }
	
.samples a {
	background: #eee;
	text-decoration: none; 
	padding: 2px 4px;
	border-bottom: 1px dashed #ccc;
	display: block;
	font-weight: bold;
	}
	
.samples a:hover {
	background: #ccc;
	color: #fff;
	}
	
body.sample1 #sample1,
body.sample2 #sample2,
body.sample3 #sample3,
body.sample4 #sample4,
body.sample5 #sample5,
body.sample6 #sample6,
body.sample7 #sample7,
body.sample8 #sample8,
body.sample9 #sample9,
body.sample10 #sample10 {
	background: #13a89e;
	color: #fff;
	}
	
.overview {
	background: #eee;
	padding: 10px;
	border: 1px solid #ddd;
	font-size: 120%;
	}
	

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	.logo { text-align: center; }
	.space { height: 5px; }
	p { text-align: justify; }
	.about { display: block; }
	#spacer { display: none; }

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/